<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://mysql995.umbler.com:41890/agro_dso2</property>
    <property name="hibernate.connection.username">agro42</property>
    <property name="hibernate.connection.password">CTC_2019</property>
    <mapping resource="escola/entity/Usuario.hbm.xml"/>
    <mapping resource="escola/entity/AlunosTurma.hbm.xml"/>
    <mapping resource="escola/entity/Usuarios.hbm.xml"/>
    <mapping resource="escola/entity/ProfessorLingua.hbm.xml"/>
    <mapping resource="escola/entity/Turma.hbm.xml"/>
    <mapping resource="escola/entity/Linguas.hbm.xml"/>
    <mapping/>
    <mapping resource="escola/entity/AlunoLingua.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
